<nb-layout windowMode>

  <nb-layout-header fixed>Company Name <span *ngIf="userData"><p>{{userData.user.displayName}} {{userData.user.id}}</p></span></nb-layout-header>
  <nb-layout-column style="padding: 0px;background: white;">


    <nb-tabset style="height:100%" fullWidth>
      <nb-tab tabTitle="Ingresos">
        <entries-page></entries-page>
      </nb-tab>
      <nb-tab tabTitle="Recepciones">
        <receptions-page></receptions-page>
      </nb-tab>
      <nb-tab tabTitle="Movimientos">
        <span>Content #2</span>
      </nb-tab>
      <nb-tab tabTitle="Historico">
        <span>Content #3</span>
      </nb-tab>
      <nb-tab tabTitle="Consultas">
        <span>Content #3</span>
      </nb-tab>
    </nb-tabset>




  </nb-layout-column>
</nb-layout>